%h1 Campers

#search_forms
  %p
    = form_tag({:action => :index}, {:method => :get}) do
      = label_tag :query, "Search"
      = text_field_tag :query, params[:query]
      = submit_tag :go
  %p
    = form_tag({:action => :search}, {:method => :get}) do
      = label_tag :query, "Complex Search"
      = text_field_tag :query, params[:query]
      = submit_tag :complex_search
  %p
    = link_to "Tire me a new one", new_camper_path

#title
  - if params[:query]
    %h2="Campers matching #{params[:query]}"
  -else
    %h2 All of the things!
    %p All the json you could possibly want.

- if @campers.facets
  #facets
    %ul
      - @campers.facets.each do |k,v|
        %li
          = k
          %ul
            -v['terms'].each do |term|
              %li=link_to "#{term['term']} (#{term['count']})", params.merge(:tags => term['term'])
#campers
  -@campers.each do |c|
    %p
      =link_to "#{c.name}", c
      =link_to "Edit", edit_camper_path(c)
    %p=c.to_json
