%h1 New Camper
= form_for @camper do |f|
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :twitter
    %br
    = f.text_field :twitter
  %p
    = f.label :city
    %br
    = f.text_field :city
  %p
    = f.label :drink_count
    %br
    = f.number_field :drink_count
  %p
    = f.label :tags
    %br
    = f.text_field :tags
  %p
    = f.label :bio
    %br
    = f.text_area :bio
  =f.submit
